{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://wwwcie.ups.com/api",
      "description": "Customer Integration Environment"
    },
    {
      "url": "https://onlinetools.ups.com/api",
      "description": "Production"
    },
    {
      "url": "https://onlinetools.ups.com/api/trade/compliance/{version}",
      "description": "Production",
      "variables": {
        "version": {
          "default": "v2",
          "enum": [
            "v2"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/trade/compliance/{version}",
      "description": "CIE",
      "variables": {
        "version": {
          "default": "v2",
          "enum": [
            "v2"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/deliverydefense/external/v1.0",
      "description": "DeliveryDefense Customer Integration Environment"
    },
    {
      "url": "https://onlinetools.ups.com/api/deliverydefense/external/v1.0",
      "description": "DeliveryDefense Production Environment"
    },
    {
      "url": "https://onlinetools.ups.com/api/deliveryintercept/{version}",
      "description": "Production",
      "variables": {
        "version": {
          "default": "v2",
          "enum": [
            "v2"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/deliveryintercept/{version}",
      "description": "Customer Integration Environment",
      "variables": {
        "version": {
          "default": "v2",
          "enum": [
            "v2"
          ]
        }
      }
    },
    {
      "url": "https://www.onlinetools.ups.com/api/forwarding/{version}",
      "description": "URL for OAuth based authentication that can be used for the UPS Production environment.",
      "variables": {
        "version": {
          "default": "v1",
          "description": "Denotes which version of the API to be called as new features are released.",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://www.onlinetoolsuat.ups.com/api/forwarding/{version}",
      "description": "URL for OAuth based authentication that can be used for the UPS Staging environment.",
      "variables": {
        "version": {
          "default": "v1",
          "description": "Denotes which version of the API to be called as new features are released.",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/brokerage/{version}",
      "description": "UPS Customer Integration Environment",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://onlinetools.ups.com/api/brokerage/{version}",
      "description": "UPS Production",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/export-assure/{version}",
      "description": "Customer Integration Environment URL",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://onlinetools.ups.com/api/export-assure/{version}",
      "description": "Production URL",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://onlinetools.ups.com/api/digital-experience/preferences/{version}",
      "description": "Production",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/digital-experience/preferences/{version}",
      "description": "Customer Integration Environment",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://onlinetools.ups.com/api/ship/tradedirect/{version}",
      "variables": {
        "version": {
          "default": "v1",
          "description": "Initial version for TradeDirect Shipment",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/track/{version}",
      "description": "UPS Production CIE OAuth. This is for integration testing only and it will not create any subscription.",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://onlinetools.ups.com/api/track/{version}",
      "description": "UPS Production OAuth.",
      "variables": {
        "version": {
          "default": "v1",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://wwwcie.ups.com/api/ship/{version}",
      "description": "Customer Integration Environment",
      "variables": {
        "version": {
          "default": "v1",
          "description": "Indicates WorldEase Shipment Management API to display the new release features",
          "enum": [
            "v1"
          ]
        }
      }
    },
    {
      "url": "https://onlinetools.ups.com/api/ship/{version}",
      "description": "Production",
      "variables": {
        "version": {
          "default": "v1",
          "description": "Indicates WorldEase Shipment Management API to display the new release features",
          "enum": [
            "v1"
          ]
        }
      }
    }
  ],
  "paths": {
    "/AddressValidation-Ready/addressvalidation/{version}/{requestoption}": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Address Validation",
        "description": "The Address Validation Street Level API can be used to check addresses\nagainst the United States Postal Service database of valid addresses in the\nU.S. and Puerto Rico.\n\n<i>NOTE:</i> In the Customer Integration Environment, Street Level Address Validation will only produce results for addresses in New York (NY) and California (CA).\n",
        "operationId": "AddressValidation_Ready_AddressValidation",
        "parameters": [
          {
            "name": "regionalrequestindicator",
            "in": "query",
            "description": "Valid values: True or False.  If True, either the region element or any  combination of Political Division 1,  Political Division 2, PostcodePrimaryLow and the PostcodeExtendedLow fields will  be recognized for validation in addition to  the urbanization element. If False or no  indicator, street level address validation  is provided",
            "schema": {
              "minimum": 1,
              "type": "string"
            }
          },
          {
            "name": "maximumcandidatelistsize",
            "in": "query",
            "description": "Valid values: 0 – 50 The maximum number of Candidates to  return for this request. If not provided,  the default size of 15 is returned.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "requestoption",
            "in": "path",
            "description": "Identifies the optional processing to be performed. If not present or invalid value then an error will be sent back.\n\nValid values:\n- 1 - Address Validation\n- 2 - Address Classification\n- 3 - Address Validation and Address Classification.\n\nFor a list of valid values, refer to Address Validation API Supported Countries or Territories in the Appendix.\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Identifies the version of the API.\n\nValid  values:\n- v2\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v2"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XAVRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "XAVRequest": {
                      "AddressKeyFormat": {
                        "ConsigneeName": "RITZ CAMERA CENTERS-1749",
                        "BuildingName": "Innoplex",
                        "AddressLine": [
                          "26601 ALISO CREEK ROAD",
                          "STE D",
                          "ALISO VIEJO TOWN CENTER"
                        ],
                        "Region": "ROSWELL,GA,30076-1521",
                        "PoliticalDivision2": "ALISO VIEJO",
                        "PoliticalDivision1": "CA",
                        "PostcodePrimaryLow": "92656",
                        "PostcodeExtendedLow": "1521",
                        "Urbanization": "porto arundal",
                        "CountryCode": "US"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XAVResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          }
        ]
      }
    },
    "/AddressValidation-Ready/addressvalidation/{deprecatedVersion}/{requestoption}": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Address Validation",
        "description": "The Address Validation Street Level API can be used to check addresses against the United States Postal Service database of valid addresses in the U.S. and Puerto Rico.",
        "operationId": "AddressValidation_Ready_DeprecatedAddressValidation",
        "parameters": [
          {
            "name": "regionalrequestindicator",
            "in": "query",
            "description": "Valid values: True or False.  If True, either the region element or any  combination of Political Division 1,  Political Division 2, PostcodePrimaryLow and the PostcodeExtendedLow fields will  be recognized for validation in addition to  the urbanization element. If False or no  indicator, street level address validation  is provided",
            "schema": {
              "minimum": 1,
              "type": "string"
            }
          },
          {
            "name": "maximumcandidatelistsize",
            "in": "query",
            "description": "Valid values: 0 – 50 The maximum number of Candidates to  return for this request. If not provided,  the default size of 15 is returned.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "requestoption",
            "in": "path",
            "description": "Identifies the optional processing to be performed. If not present or invalid value then an error will be sent back.\n\nValid values:\n\n- 1 - Address Validation\n- 2 - Address Classification\n- 3 - Address Validation and Address Classification.\n\nFor a list of valid values, refer to Address Validation API Supported Countries or Territories in the Appendix.\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "deprecatedVersion",
            "in": "path",
            "description": "Identifies the version of the API.\n\nValid  values:\n- v1\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v1"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XAVRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "XAVRequest": {
                      "AddressKeyFormat": {
                        "ConsigneeName": "RITZ CAMERA CENTERS-1749",
                        "BuildingName": "Innoplex",
                        "AddressLine": [
                          "26601 ALISO CREEK ROAD",
                          "STE D",
                          "ALISO VIEJO TOWN CENTER"
                        ],
                        "Region": "ROSWELL,GA,30076-1521",
                        "PoliticalDivision2": "ALISO VIEJO",
                        "PoliticalDivision1": "CA",
                        "PostcodePrimaryLow": "92656",
                        "PostcodeExtendedLow": "1521",
                        "Urbanization": "porto arundal",
                        "CountryCode": "US"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XAVResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": [ ]
          }
        ]
      }
    },
    "/addressvalidation/{version}/{requestoption}": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Address Validation",
        "description": "The Address Validation Street Level API can be used to check addresses\nagainst the United States Postal Service database of valid addresses in the\nU.S. and Puerto Rico.\n\n<i>NOTE:</i> In the Customer Integration Environment, Street Level Address Validation will only produce results for addresses in New York (NY) and California (CA).\n",
        "operationId": "AddressValidation_AddressValidation",
        "parameters": [
          {
            "name": "regionalrequestindicator",
            "in": "query",
            "description": "Valid values: True or False.  If True, either the region element or any  combination of Political Division 1,  Political Division 2, PostcodePrimaryLow and the PostcodeExtendedLow fields will  be recognized for validation in addition to  the urbanization element. If False or no  indicator, street level address validation  is provided",
            "schema": {
              "minimum": 1,
              "type": "string"
            }
          },
          {
            "name": "maximumcandidatelistsize",
            "in": "query",
            "description": "Valid values: 0 – 50 The maximum number of Candidates to  return for this request. If not provided,  the default size of 15 is returned.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "requestoption",
            "in": "path",
            "description": "Identifies the optional processing to be performed. If not present or invalid value then an error will be sent back.\n\nValid values:\n- 1 - Address Validation\n- 2 - Address Classification\n- 3 - Address Validation and Address Classification.\n\nFor a list of valid values, refer to Address Validation API Supported Countries or Territories in the Appendix.\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Identifies the version of the API.\n\nValid  values:\n- v2\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v2"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressValidation_XAVRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "XAVRequest": {
                      "AddressKeyFormat": {
                        "ConsigneeName": "RITZ CAMERA CENTERS-1749",
                        "BuildingName": "Innoplex",
                        "AddressLine": [
                          "26601 ALISO CREEK ROAD",
                          "STE D",
                          "ALISO VIEJO TOWN CENTER"
                        ],
                        "Region": "ROSWELL,GA,30076-1521",
                        "PoliticalDivision2": "ALISO VIEJO",
                        "PoliticalDivision1": "CA",
                        "PostcodePrimaryLow": "92656",
                        "PostcodeExtendedLow": "1521",
                        "Urbanization": "porto arundal",
                        "CountryCode": "US"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_XAVResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AddressValidation_OAuth2": [ ]
          }
        ]
      }
    },
    "/addressvalidation/{deprecatedVersion}/{requestoption}": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Address Validation",
        "description": "The Address Validation Street Level API can be used to check addresses against the United States Postal Service database of valid addresses in the U.S. and Puerto Rico.",
        "operationId": "AddressValidation_DeprecatedAddressValidation",
        "parameters": [
          {
            "name": "regionalrequestindicator",
            "in": "query",
            "description": "Valid values: True or False.  If True, either the region element or any  combination of Political Division 1,  Political Division 2, PostcodePrimaryLow and the PostcodeExtendedLow fields will  be recognized for validation in addition to  the urbanization element. If False or no  indicator, street level address validation  is provided",
            "schema": {
              "minimum": 1,
              "type": "string"
            }
          },
          {
            "name": "maximumcandidatelistsize",
            "in": "query",
            "description": "Valid values: 0 – 50 The maximum number of Candidates to  return for this request. If not provided,  the default size of 15 is returned.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "requestoption",
            "in": "path",
            "description": "Identifies the optional processing to be performed. If not present or invalid value then an error will be sent back.\n\nValid values:\n\n- 1 - Address Validation\n- 2 - Address Classification\n- 3 - Address Validation and Address Classification.\n\nFor a list of valid values, refer to Address Validation API Supported Countries or Territories in the Appendix.\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "deprecatedVersion",
            "in": "path",
            "description": "Identifies the version of the API.\n\nValid  values:\n- v1\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v1"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressValidation_XAVRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "XAVRequest": {
                      "AddressKeyFormat": {
                        "ConsigneeName": "RITZ CAMERA CENTERS-1749",
                        "BuildingName": "Innoplex",
                        "AddressLine": [
                          "26601 ALISO CREEK ROAD",
                          "STE D",
                          "ALISO VIEJO TOWN CENTER"
                        ],
                        "Region": "ROSWELL,GA,30076-1521",
                        "PoliticalDivision2": "ALISO VIEJO",
                        "PoliticalDivision1": "CA",
                        "PostcodePrimaryLow": "92656",
                        "PostcodeExtendedLow": "1521",
                        "Urbanization": "porto arundal",
                        "CountryCode": "US"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_XAVResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidation_ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AddressValidation_OAuth2": [ ]
          }
        ]
      }
    },
    "/CommerceGuard/commerce-guard/{version}/verify": {
      "post": {
        "tags": [
          "Commerce Guard"
        ],
        "summary": "Verify chargeback risk",
        "description": "Evaluates chargeback risk based on user, payment, and address details. \nReturns scores and decision for risk classification.\n",
        "operationId": "CommerceGuard_verifyChargebackRisk",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "Denotes which version of the API to be called as new features are released.\n- v1\n",
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v1"
            }
          },
          {
            "name": "partnerId",
            "in": "header",
            "description": "Unique Partner ID",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "type": "string",
              "example": "PARTNER_001"
            }
          },
          {
            "name": "transSrc",
            "in": "header",
            "description": "Optional transaction source",
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "type": "string",
              "example": "webstore"
            }
          },
          {
            "name": "transId",
            "in": "header",
            "description": "Optional unique transaction ID for idempotency",
            "schema": {
              "maxLength": 36,
              "minLength": 3,
              "pattern": "^[a-zA-Z0-9-.]{3,36}$",
              "type": "string",
              "example": "trans-001-a1b2c3"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargebackVerifyRequestV1"
              },
              "example": {
                "userInformation": {
                  "email": "alice.smith@example.com",
                  "ipAddress": "192.168.1.101"
                },
                "billingContact": {
                  "name": {
                    "firstName": "Alice",
                    "lastName": "Smith"
                  },
                  "phone": {
                    "countryCode": "1",
                    "number": "3125556789"
                  },
                  "address": {
                    "addressLine": [
                      "456 Elm Street",
                      "Unit 12B"
                    ],
                    "city": "Chicago",
                    "stateProvinceCode": "IL",
                    "postalCode": "60616",
                    "countryCode": "US"
                  }
                },
                "shippingContact": {
                  "name": {
                    "firstName": "Alice",
                    "lastName": "Smith"
                  },
                  "phone": {
                    "countryCode": "1",
                    "number": "3125556789"
                  },
                  "address": {
                    "addressLine": [
                      "456 Elm Street",
                      "Unit 12B"
                    ],
                    "city": "Chicago",
                    "stateProvinceCode": "IL",
                    "postalCode": "60616",
                    "countryCode": "US"
                  }
                },
                "paymentInformation": {
                  "txnId": "TXN20250716001",
                  "method": "card",
                  "issuerIdNumber": 411111,
                  "lastDigits": 4242,
                  "issuer": "Visa"
                },
                "products": [
                  {
                    "sku": "ROD-ABC-123",
                    "name": "Wireless Bluetooth Headphones"
                  }
                ],
                "orderValue": 199.99,
                "currencyCode": "USD",
                "orderId": "ORDER1001",
                "orderCreatedAt": "2025-07-16T10:53:11.893Z"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/BkndTransId"
              },
              "transId": {
                "$ref": "#/components/headers/transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackVerifyResponseV1"
                },
                "example": {
                  "superScore": 500,
                  "decision": "review",
                  "categoryScores": {
                    "addressReliabilityScore": {
                      "score": 520,
                      "rank": "medium"
                    },
                    "digitalIdentityScore": {
                      "score": 999,
                      "rank": "high"
                    },
                    "proxyScore": {
                      "score": 0,
                      "rank": "no_risk"
                    },
                    "paymentReliabilityScore": {
                      "score": 140,
                      "rank": "low"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/BkndTransId"
              },
              "transId": {
                "$ref": "#/components/headers/transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "APIErrorCode": {
                "$ref": "#/components/headers/APIErrorCode"
              },
              "APIErrorMessage": {
                "$ref": "#/components/headers/APIErrorMsg"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackErrorResponseV1"
                },
                "example": {
                  "response": {
                    "errors": [
                      {
                        "code": "MISSING_FIELD",
                        "message": "shippingContact.address.postalCode is required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/BkndTransId"
              },
              "transId": {
                "$ref": "#/components/headers/transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "APIErrorCode": {
                "$ref": "#/components/headers/APIErrorCode"
              },
              "APIErrorMessage": {
                "$ref": "#/components/headers/APIErrorMsg"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackErrorResponseV1"
                },
                "example": {
                  "response": {
                    "errors": [
                      {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid credentials"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/BkndTransId"
              },
              "transId": {
                "$ref": "#/components/headers/transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "APIErrorCode": {
                "$ref": "#/components/headers/APIErrorCode"
              },
              "APIErrorMessage": {
                "$ref": "#/components/headers/APIErrorMsg"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackErrorResponseV1"
                },
                "example": {
                  "response": {
                    "errors": [
                      {
                        "code": "UNSUPPORTED",
                        "message": "Merchant does not have permission for this product"
                      }
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content (Dependency Validation Failed)",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/BkndTransId"
              },
              "transId": {
                "$ref": "#/components/headers/transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "APIErrorCode": {
                "$ref": "#/components/headers/APIErrorCode"
              },
              "APIErrorMessage": {
                "$ref": "#/components/headers/APIErrorMsg"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackErrorResponseV1"
                },
                "example": {
                  "response": {
                    "errors": [
                      {
                        "code": "DEPENDENCY_VALIDATION_FAILED",
                        "message": "Invalid IP address format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/BkndTransId"
              },
              "transId": {
                "$ref": "#/components/headers/transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "APIErrorCode": {
                "$ref": "#/components/headers/APIErrorCode"
              },
              "APIErrorMessage": {
                "$ref": "#/components/headers/APIErrorMsg"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargebackErrorResponseV1"
                },
                "example": {
                  "response": {
                    "errors": [
                      {
                        "code": "SERVER_ERROR",
                        "message": "system Unexpected exception while processing the request"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "CommerceGuard_OAuth2": [ ]
          }
        ]
      }
    },
    "/CustomsDetailV2/content/fields/customs-detail": {
      "post": {
        "tags": [
          "Customs Detail"
        ],
        "summary": "Validate and/or submit the fields",
        "description": "This endpoint will provide the ability to validate and/or submit the additional field information for a shipment",
        "operationId": "CustomsDetailV2_postCustomDetailData",
        "parameters": [
          {
            "$ref": "#/components/parameters/transId"
          },
          {
            "$ref": "#/components/parameters/transactionSrc"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "schema": {
              "enum": [
                "v2"
              ],
              "type": "string",
              "default": "v2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomDetailsPostFieldsRequestv2"
              },
              "example": {
                "actionType": "save",
                "shipperNumber": "1443YY",
                "trackingNumber": "1Z1443YY0161231327",
                "shipmentMetaData": [
                  {
                    "groupKey": "US-IMP-CDC",
                    "fields": [
                      {
                        "fieldKey": "ImportLicenseNumber",
                        "regulationSections": [
                          {
                            "sectionKey": "Bio"
                          }
                        ],
                        "fieldValue": "123412351234123"
                      }
                    ]
                  },
                  {
                    "groupKey": "IN-EXP-CSB",
                    "fields": [
                      {
                        "fieldKey": "CSBType",
                        "fieldValue": "3"
                      },
                      {
                        "fieldKey": "IECCode",
                        "fieldValue": "99"
                      }
                    ]
                  }
                ],
                "products": [
                  {
                    "productId": "PART-001",
                    "productDescription": "Medical device",
                    "commodityCode": "3821000010",
                    "productMetaData": [
                      {
                        "groupKey": "IN-EXP-CSB",
                        "fields": [
                          {
                            "fieldKey": "Amount",
                            "fieldValue": "10"
                          },
                          {
                            "fieldKey": "CurrencyCode",
                            "fieldValue": "USD"
                          }
                        ]
                      },
                      {
                        "groupKey": "US-IMP-FDA",
                        "fields": [
                          {
                            "fieldKey": "MnuNa",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "UPS Labs"
                          },
                          {
                            "fieldKey": "MnuAdLn1Te",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "55 Glenlake Pkwy NE"
                          },
                          {
                            "fieldKey": "MnuAdLn2Te",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "Suite 400"
                          },
                          {
                            "fieldKey": "MnuAdLn3Te",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "Building C"
                          },
                          {
                            "fieldKey": "MnuCtyNa",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "Atlanta"
                          },
                          {
                            "fieldKey": "MnuStPrvCd",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "GA"
                          },
                          {
                            "fieldKey": "MnuCtyCd",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "US"
                          },
                          {
                            "fieldKey": "MnuPslCd",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              },
                              {
                                "sectionKey": "Bio"
                              },
                              {
                                "sectionKey": "Dev"
                              },
                              {
                                "sectionKey": "Foo"
                              }
                            ],
                            "fieldValue": "30301"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "productId": "PART-002",
                    "productDescription": "Sample pharma goods",
                    "commodityCode": "300490",
                    "productMetaData": [
                      {
                        "groupKey": "US-IMP-FDA",
                        "fields": [
                          {
                            "fieldKey": "MnuNa",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              }
                            ],
                            "fieldValue": "UPS Labs"
                          },
                          {
                            "fieldKey": "MnuPslCd",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              }
                            ],
                            "fieldValue": "30301"
                          },
                          {
                            "fieldKey": "MnuAdLn1Te",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              }
                            ],
                            "fieldValue": "55 Glenlake Pkwy NE"
                          },
                          {
                            "fieldKey": "MnuCtyNa",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              }
                            ],
                            "fieldValue": "Atlanta"
                          },
                          {
                            "fieldKey": "MnuStPrvCd",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              }
                            ],
                            "fieldValue": "GA"
                          },
                          {
                            "fieldKey": "MnuCtyCd",
                            "regulationSections": [
                              {
                                "sectionKey": "Cos"
                              }
                            ],
                            "fieldValue": "US"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/CustomsDetailV2_BkndTransId"
              },
              "TransId": {
                "$ref": "#/components/headers/CustomsDetailV2_transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/CustomsDetailV2_transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/CustomsDetailV2_Content-Type"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          { }
        ]
      },
      "get": {
        "tags": [
          "Customs Detail"
        ],
        "summary": "Returns required Custom Details",
        "description": "This returns an array of fields that are required for the provided import and/or export country",
        "operationId": "CustomsDetailV2_getCustomDetailData",
        "parameters": [
          {
            "$ref": "#/components/parameters/transId"
          },
          {
            "$ref": "#/components/parameters/transactionSrc"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "name": "import_country_code",
            "in": "query",
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "pattern": "^[A-Z]{2}$",
              "type": "string",
              "description": "The <a href=\"https://www.iso.org/iso-3166-country-codes.html\" target=\"_blank\">ISO 3166</a> country or territory code\nfrom where the shipment is being imported to. If this is omitted then all import fields for all countries will be returned\n",
              "nullable": true,
              "example": "US"
            }
          },
          {
            "name": "export_country_code",
            "in": "query",
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "pattern": "^[A-Z]{2}$",
              "type": "string",
              "description": "The <a href=\"https://www.iso.org/iso-3166-country-codes.html\" target=\"_blank\">ISO 3166</a> country or territory code\nfrom where the shipment is being exported from. If this is omitted then all export fields for all countries will be returned\n",
              "nullable": true,
              "example": "IT"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "maxLength": 5,
              "minLength": 5,
              "pattern": "^[a-z]{2}-[A-Z]{2}$",
              "type": "string",
              "description": "",
              "default": "en-US",
              "example": "en-US"
            }
          },
          {
            "name": "commodity_codes",
            "in": "query",
            "description": "comma-separated list of tariff code for the product for the selected import country and process type  to filter results.",
            "schema": {
              "maxLength": 2000,
              "minLength": 1,
              "type": "string",
              "nullable": true,
              "example": "2926400000,3003395000"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "schema": {
              "enum": [
                "v2"
              ],
              "type": "string",
              "default": "v2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "BkndTransId": {
                "$ref": "#/components/headers/CustomsDetailV2_BkndTransId"
              },
              "TransId": {
                "$ref": "#/components/headers/CustomsDetailV2_transId"
              },
              "transactionSrc": {
                "$ref": "#/components/headers/CustomsDetailV2_transactionSrc"
              },
              "Content-Type": {
                "$ref": "#/components/headers/CustomsDetailV2_Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDetailsGetFieldsSuccessResponsev2"
                },
                "example": {
                  "commodityCodes": [
                    {
                      "commodityCode": "2926400000",
                      "regulations": [
                        {
                          "regulation": "FDA",
                          "regulationSections": [
                            {
                              "sectionKey": "DRU"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "commodityCode": "3003395000",
                      "regulations": [
                        {
                          "regulation": "FDA",
                          "regulationSections": [
                            {
                              "sectionKey": "DRU"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "fieldGroups": [
                    {
                      "countryCode": "US",
                      "countryName": "UNITED STATES OF AMERICA",
                      "shipmentType": "Import",
                      "groupKey": "US-IMP-FDA",
                      "details": "This is for US import FDA fields",
                      "regulation": "FDA",
                      "regulationSections": [
                        {
                          "sectionKey": "Cos",
                          "sectionName": "Cosmetics"
                        },
                        {
                          "sectionKey": "Bio",
                          "sectionName": "Biologics"
                        },
                        {
                          "sectionKey": "Dev",
                          "sectionName": "Device"
                        },
                        {
                          "sectionKey": "Foo",
                          "sectionName": "Food"
                        }
                      ],
                      "fields": [
                        {
                          "sectionKey": "MnuNa",
                          "label": "Manufacturer Name",
                          "order": "1",
                          "tooltip": "Type of shipping bill to be processed for the shipment",
                          "isRequired": "C",
                          "requirementConditions": [
                            {
                              "fieldKey": "MnuPslCd",
                              "operator": "!=",
                              "value": ""
                            }
                          ],
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerName",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuPslCd",
                          "label": "Manufacturer Postal Code",
                          "order": "8",
                          "tooltip": "The postal code address of the manufacturer for the product",
                          "isRequired": "Y",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerPostalCode",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuAdLn1Te",
                          "label": "Manufacturer Address Line 1",
                          "order": "1",
                          "tooltip": "Line 1 of the address of the manufacturer for the product",
                          "isRequired": "N",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerAddressLine1",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuAdLn2Te",
                          "label": "Manufacturer Address Line 2",
                          "order": "1",
                          "tooltip": "Line 2 of the address of the manufacturer for the product",
                          "isRequired": "N",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerAddressLine2",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuAdLn3Te",
                          "label": "Manufacturer Address Line 3",
                          "order": "1",
                          "tooltip": "Line 3 of the address of the manufacturer for the product",
                          "isRequired": "N",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerAddressLine3",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuCtyNa",
                          "label": "Manufacturer City Name",
                          "order": "1",
                          "tooltip": "Line 3 of the address of the manufacturer for the product",
                          "isRequired": "N",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerAddressLine3",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuStPrvCd",
                          "label": "Manufacturer State/Province Code",
                          "order": "1",
                          "tooltip": "The state/province for the address of the manufacturer for the product",
                          "isRequired": "N",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerStateProvinceCode",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuCtyCd",
                          "label": "Manufacturer Country Code",
                          "order": "1",
                          "tooltip": "The country code for the address of the manufacturer for the product",
                          "isRequired": "N",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerCountryCode",
                          "level": "Product"
                        },
                        {
                          "sectionKey": "MnuPslCd",
                          "label": "Manufacturer Postal Code",
                          "order": "1",
                          "tooltip": "The postal code address of the manufacturer for the product",
                          "isRequired": "Y",
                          "requirementConditions": null,
                          "fieldType": "textbox",
                          "allowedValueCount": 1,
                          "validation": {
                            "minLength": null,
                            "maxLength": null,
                            "errorMessage": "Enter a valid value",
                            "dataType": "Text",
                            "regexPattern": null,
                            "listValues": [ ]
                          },
                          "regulationSections": [
                            {
                              "sectionKey": "Cos"
                            },
                            {
                              "sectionKey": "Bio"
                            },
                            {
                              "sectionKey": "Dev"
                            },
                            {
                              "sectionKey": "Foo"
                            }
                          ],
                          "keyAlias": "ManufacturerPostalCode",
                          "level": "Product"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          { }
        ]
      }
    },
    "/DangerousGoods-Ready/dangerousgoods/{version}/chemicalreferencedata": {
      "post": {
        "tags": [
          "Dangerous Goods"
        ],
        "summary": "Chemical Reference Data",
        "description": "The Chemical Reference Data endpoint of the Dangerous Goods API allows shippers look up hazardous material reference information by ID number and shipping name of the specified regulated good.",
        "operationId": "DangerousGoods_Ready_Chemical_Reference_Data",
        "parameters": [
          {
            "name": "transId",
            "in": "header",
            "description": "An identifier unique to the request. Length 32",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionSrc",
            "in": "header",
            "description": "An identifier of the client/source application that is making the request.Length 512",
            "required": true,
            "schema": {
              "type": "string",
              "default": "testing"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Version of the API.\n\nValid values:\n- v2409\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v2409"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "ChemicalReferenceDataRequest": {
                      "IDNumber": "UN1088",
                      "ProperShippingName": "Acetal",
                      "ShipperNumber": "Your Shipper Number"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DangerousGoods_Ready_OAuth2": [ ]
          }
        ]
      }
    },
    "/DangerousGoods-Ready/dangerousgoods/{version}/acceptanceauditprecheck": {
      "post": {
        "tags": [
          "Dangerous Goods"
        ],
        "summary": "Acceptance Audit Pre-check",
        "description": "Enables shippers perform pre-checks before shipping dangerous goods using the chemical record identifier and the commodity's regulated level code.",
        "operationId": "DangerousGoods_Ready_Acceptance_Audit_Pre_Check",
        "parameters": [
          {
            "name": "transId",
            "in": "header",
            "description": "An identifier unique to the request. Length 32",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionSrc",
            "in": "header",
            "description": "An identifier of the client/source application that is making the request.Length 512",
            "required": true,
            "schema": {
              "type": "string",
              "default": "testing"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "API version\n\nValid values:\n- v2\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v3"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYAPCRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request",
                  "value": {
                    "AcceptanceAuditPreCheckRequest": {
                      "Request": {
                        "RequestOption": "Request",
                        "TransactionReference": {
                          "CustomerContext": ""
                        }
                      },
                      "OriginRecordTransactionTimestamp": "      ",
                      "Shipment": {
                        "ShipperNumber": " ",
                        "ShipFromAddress": {
                          "AddressLine": "226 ELMWOOD AVE",
                          "City": "BOGOTA",
                          "StateProvinceCode": "NJ",
                          "PostalCode": "7603",
                          "CountryCode": "US"
                        },
                        "ShipToAddress": {
                          "AddressLinde": "MY STREET 11",
                          "City": "DIEGEM",
                          "StateProvinceCode": "          ",
                          "PostalCode": "1831",
                          "CountryCode": "BE"
                        },
                        "Service": {
                          "Code": "01",
                          "Description": "GROUND "
                        },
                        "RegulationSet": "IATA",
                        "Package": {
                          "PackageIdentifier": "12",
                          "PackageWeight": {
                            "Weight": "12",
                            "UnitOfMeasurement": {
                              "Code": "KGS",
                              "Description": "KILOS"
                            }
                          },
                          "QValue": "0",
                          "OverPackedIndicator": "I",
                          "TransportationMode": "PAX",
                          "EmergencyContact": "SELF",
                          "ChemicalRecord": {
                            "ChemicalRecordIdentifier": "12",
                            "ReportableQuantity": "RQ",
                            "ClassDivisionNumber": "3",
                            "SubRiskClass": "            ",
                            "IDNumber": "UN2621",
                            "PackagingGroupType": "III",
                            "Quantity": "10",
                            "UOM": "KGS",
                            "PackagingInstructionCode": "Y344",
                            "ProperShippingName": "ACETYL METHYL CARBINOL",
                            "TechnicalName": "            ",
                            "AdditionalDescription": "N",
                            "PackagingType": "Fiberboard Box",
                            "HazardLabelRequired": "LABEL IT",
                            "PackagingTypeQuantity": "22",
                            "CommodityRegulatedLevelCode": "LQ",
                            "TransportCategory": "3",
                            "TunnelRestrictionCode": "1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYAPCResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DangerousGoods_Ready_OAuth2": [ ]
          }
        ]
      }
    },
    "/DangerousGoods-Ready/dangerousgoods/{deprecatedVersion}/chemicalreferencedata": {
      "post": {
        "tags": [
          "Dangerous Goods"
        ],
        "summary": "Chemical Reference Data",
        "description": "The Chemical Reference Data endpoint of the Dangerous Goods API allows shippers look up hazardous material reference information by ID number and shipping name of the specified regulated good.",
        "operationId": "DangerousGoods_Ready_Deprecated_Chemical_Reference_Data",
        "parameters": [
          {
            "name": "transId",
            "in": "header",
            "description": "An identifier unique to the request. Length 32",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionSrc",
            "in": "header",
            "description": "An identifier of the client/source application that is making the request.Length 512",
            "required": true,
            "schema": {
              "type": "string",
              "default": "testing"
            }
          },
          {
            "name": "deprecatedVersion",
            "in": "path",
            "description": "Version of the API.\n\nValid values:\n- v1\n- v1801.\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v1"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "ChemicalReferenceDataRequest": {
                      "IDNumber": "UN1088",
                      "ProperShippingName": "Acetal",
                      "ShipperNumber": "Your Shipper Number"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "DangerousGoods_Ready_OAuth2": [ ]
          }
        ]
      }
    },
    "/DangerousGoods-Ready/dangerousgoods/{deprecatedVersion}/acceptanceauditprecheck": {
      "post": {
        "tags": [
          "Dangerous Goods"
        ],
        "summary": "Acceptance Audit Pre-check",
        "description": "Enables shippers perform pre-checks before shipping dangerous goods using the chemical record identifier and the commodity's regulated level code.",
        "operationId": "DangerousGoods_Ready_Deprecated_Acceptance_Audit_Pre_Check",
        "parameters": [
          {
            "name": "transId",
            "in": "header",
            "description": "An identifier unique to the request. Length 32",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionSrc",
            "in": "header",
            "description": "An identifier of the client/source application that is making the request.Length 512",
            "required": true,
            "schema": {
              "type": "string",
              "default": "testing"
            }
          },
          {
            "name": "deprecatedVersion",
            "in": "path",
            "description": "API version\n\nValid values:\n- v1\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYAPCRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request",
                  "value": {
                    "AcceptanceAuditPreCheckRequest": {
                      "Request": {
                        "RequestOption": "Request",
                        "TransactionReference": {
                          "CustomerContext": ""
                        }
                      },
                      "OriginRecordTransactionTimestamp": "      ",
                      "Shipment": {
                        "ShipperNumber": " ",
                        "ShipFromAddress": {
                          "AddressLine": "226 ELMWOOD AVE",
                          "City": "BOGOTA",
                          "StateProvinceCode": "NJ",
                          "PostalCode": "7603",
                          "CountryCode": "US"
                        },
                        "ShipToAddress": {
                          "AddressLinde": "MY STREET 11",
                          "City": "DIEGEM",
                          "StateProvinceCode": "          ",
                          "PostalCode": "1831",
                          "CountryCode": "BE"
                        },
                        "Service": {
                          "Code": "01",
                          "Description": "GROUND "
                        },
                        "RegulationSet": "IATA",
                        "Package": {
                          "PackageIdentifier": "12",
                          "PackageWeight": {
                            "Weight": "12",
                            "UnitOfMeasurement": {
                              "Code": "KGS",
                              "Description": "KILOS"
                            }
                          },
                          "QValue": "0",
                          "OverPackedIndicator": "I",
                          "TransportationMode": "PAX",
                          "EmergencyContact": "SELF",
                          "ChemicalRecord": {
                            "ChemicalRecordIdentifier": "12",
                            "ReportableQuantity": "RQ",
                            "ClassDivisionNumber": "3",
                            "SubRiskClass": "            ",
                            "IDNumber": "UN2621",
                            "PackagingGroupType": "III",
                            "Quantity": "10",
                            "UOM": "KGS",
                            "PackagingInstructionCode": "Y344",
                            "ProperShippingName": "ACETYL METHYL CARBINOL",
                            "TechnicalName": "            ",
                            "AdditionalDescription": "N",
                            "PackagingType": "Fiberboard Box",
                            "HazardLabelRequired": "LABEL IT",
                            "PackagingTypeQuantity": "22",
                            "CommodityRegulatedLevelCode": "LQ",
                            "TransportCategory": "3",
                            "TunnelRestrictionCode": "1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DANGEROUSGOODSUTILITYAPCResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_Ready_ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "DangerousGoods_Ready_OAuth2": [ ]
          }
        ]
      }
    },
    "/dangerousgoods/{version}/chemicalreferencedata": {
      "post": {
        "tags": [
          "Dangerous Goods"
        ],
        "summary": "Chemical Reference Data",
        "description": "The Chemical Reference Data endpoint of the Dangerous Goods API allows shippers look up hazardous material reference information by ID number and shipping name of the specified regulated good.",
        "operationId": "DangerousGoods_Chemical_Reference_Data",
        "parameters": [
          {
            "name": "transId",
            "in": "header",
            "description": "An identifier unique to the request. Length 32",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionSrc",
            "in": "header",
            "description": "An identifier of the client/source application that is making the request.Length 512",
            "required": true,
            "schema": {
              "type": "string",
              "default": "testing"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Version of the API.\n\nValid values:\n- v2409\n",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "string",
              "default": "v2409"
            }
          }
        ],
        "requestBody": {
          "description": "Generate sample code for popular API requests by selecting an example below. To view a full sample request and response, first click \"Authorize\" and enter your application credentials, then populate the required parameters above and click \"Try it out\".",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DangerousGoods_DANGEROUSGOODSUTILITYRequestWrapper"
              },
              "examples": {
                "json": {
                  "summary": "A sample JSON request (Standard Example)",
                  "value": {
                    "ChemicalReferenceDataRequest": {
                      "IDNumber": "UN1088",
                      "ProperShippingName": "Acetal",
                      "ShipperNumber": "Your Shipper Number"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_DANGEROUSGOODSUTILITYResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Blocked Merchant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DangerousGoods_ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "DangerousGoods_OAuth2": [ ]
          }
        ]
      }
    },
    "/dangerousgoods/{version}/acceptanceauditprecheck": {
      "post": {
        "tags": [
          "Dangerous Goods"
        ],
        "summary": "Acceptance Audit Pre-check",
[...]
